// Center the mat-icon inside mat-icon-button
button[mat-icon-button] {
  display: flex !important;
  align-items: center;
  justify-content: center;

  .mat-mdc-button-touch-target {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
